firststep/part2/nodered-firststep-part2.json
[
    {
        "id": "a4ba57e6.f91cc8",
        "type": "tab",
        "label": "グラフ表示と制御",
        "disabled": false,
        "info": "本フローはsakura.ioハンズオンで利用する、Arduino UnoとGrove温度センサ＆LEDを用いたグラフ表示と制御を試すものです。\n\n■グラフ表示\n\nsakura.ioのWebSocket（`wss://api.sakura.io/ws/v1/.....`）サービスから送信されたJSONデータを用いてダッシュボード上にグラフを描画します。\nまた、グラフは`http://<IPアドレス>:<指定したWeb UIポート番号>/ui/`で確認することができます。\n\nオプションとして、Twittter IDを設定することで温度情報（Channel1）を取り出し、Twitterにメッセージを投稿します。\n\n以下2点を設定しデプロイすることで動作します。\n\n1. sakuraio_in(WebSocket-inノード)\n\n    sakura.ioコンパネで確認できるWebSocketのURL（`wss://api.sakura.io/ws/v1/.....`）を設定します。\n\n2. Tweet(Twitterノード) ※オプション\n\n　　Ch1(temp)_parseとtrigger 1hrをドラッグアンドドロップで接続します。\n\n    認証を行いTwitterのアカウントを連携します。（鍵アカウントでの動作は確認していません）\n    \n■デバイス制御\n\nダッシュボード上のボタンを押下することで、モジュールIDで指定したデバイスに制御用のJSONデータを生成し送信します。\n\n以下2点を設定しデプロイすることで動作します。\n\n1. moduleID_set（functionノード）\n\n    sakura.ioコンパネで確認できるID（`uXXXXXXXXXXXX`）を設定します。\n    \n2. sakuraio_out(WebSocket-outノード)\n\n    sakura.ioコンパネで確認できるWebSocketのURL（`wss://api.sakura.io/ws/v1/.....`）を設定します。\n\n> [sakura.io コントロールパネル](https://secure.sakura.ad.jp/iot/)\n\n> [利用Arduinoスケッチ](https://github.com/sakuraio/handson-sample/blob/master/firststep-part2/arduino-firststep-part2.ino)\n\n> [参考ハンズオン資料](https://speakerdeck.com/sakuraiot/sakuraio-handson-part2)"
    },
    {
        "id": "86a924b.f2e15d8",
        "type": "websocket in",
        "z": "a4ba57e6.f91cc8",
        "name": "sakuraio_in",
        "server": "",
        "client": "fc59ee64.e5928",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "be4a127f.ecd0b",
                "4c7777d1.334de8"
            ]
        ]
    },
    {
        "id": "be4a127f.ecd0b",
        "type": "json",
        "z": "a4ba57e6.f91cc8",
        "name": "String→Object",
        "pretty": false,
        "x": 300,
        "y": 80,
        "wires": [
            [
                "b26c3204.f7cd7"
            ]
        ]
    },
    {
        "id": "b26c3204.f7cd7",
        "type": "switch",
        "z": "a4ba57e6.f91cc8",
        "name": "Type_Check",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "channels",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 290,
        "y": 240,
        "wires": [
            [
                "6ecebcf3.edc1b4"
            ]
        ]
    },
    {
        "id": "6ecebcf3.edc1b4",
        "type": "function",
        "z": "a4ba57e6.f91cc8",
        "name": "Ch1(temp)_parse",
        "func": "msg.payload = Math.round(msg.payload.payload.channels[1].value*10)/10;return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 240,
        "wires": [
            [
                "60d6ab99.e4e7a4",
                "deaead33.dbbc8",
                "3d5018f7.96abc8"
            ]
        ]
    },
    {
        "id": "deaead33.dbbc8",
        "type": "ui_chart",
        "z": "a4ba57e6.f91cc8",
        "name": "Temp_chart",
        "group": "4b67594d.a5b328",
        "order": 2,
        "width": "8",
        "height": "5",
        "label": "温度 (10分)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 730,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "60d6ab99.e4e7a4",
        "type": "ui_gauge",
        "z": "a4ba57e6.f91cc8",
        "name": "Temp_gauge",
        "group": "4b67594d.a5b328",
        "order": 1,
        "width": "8",
        "height": "5",
        "gtype": "gage",
        "title": "現在の温度",
        "label": "℃",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "32",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "37e00846.57d8a8",
        "type": "debug",
        "z": "a4ba57e6.f91cc8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1090,
        "y": 120,
        "wires": []
    },
    {
        "id": "a19dfcc7.bbe4d",
        "type": "function",
        "z": "a4ba57e6.f91cc8",
        "name": "Message",
        "func": "msg.payload = `さくらインターネットのハンズオンで温度情報を取得中！ただ今の現地温度は${msg.payload}度だよ。資料は http://bit.ly/hosap101 です！今後ともよろしくお願いします！ #sakuraio #さくらインターネット`;return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 80,
        "wires": [
            [
                "842a0076.3dfda",
                "37e00846.57d8a8"
            ]
        ]
    },
    {
        "id": "6a63ca03.862184",
        "type": "trigger",
        "z": "a4ba57e6.f91cc8",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "1",
        "extend": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 730,
        "y": 80,
        "wires": [
            [
                "a19dfcc7.bbe4d"
            ]
        ]
    },
    {
        "id": "842a0076.3dfda",
        "type": "twitter out",
        "z": "a4ba57e6.f91cc8",
        "twitter": "",
        "name": "Tweet",
        "x": 1070,
        "y": 80,
        "wires": []
    },
    {
        "id": "ff4ff298.5dd1a",
        "type": "comment",
        "z": "a4ba57e6.f91cc8",
        "name": "ダッシュボード画面でのグラフ表示",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "d44af617.6195f8",
        "type": "ui_button",
        "z": "a4ba57e6.f91cc8",
        "name": "LED_RED_on",
        "group": "600c4eb9.9c1f6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "RED(D7) on",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "redon",
        "payloadType": "global",
        "topic": "",
        "x": 120,
        "y": 600,
        "wires": [
            [
                "5ad1690c.a94f48",
                "f41b0f19.80399"
            ]
        ]
    },
    {
        "id": "5ad1690c.a94f48",
        "type": "websocket out",
        "z": "a4ba57e6.f91cc8",
        "name": "sakuraio_out",
        "server": "",
        "client": "fc59ee64.e5928",
        "x": 490,
        "y": 600,
        "wires": []
    },
    {
        "id": "f41b0f19.80399",
        "type": "debug",
        "z": "a4ba57e6.f91cc8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 490,
        "y": 660,
        "wires": []
    },
    {
        "id": "5489e476.79cc6c",
        "type": "ui_button",
        "z": "a4ba57e6.f91cc8",
        "name": "LED_GREEN_on",
        "group": "600c4eb9.9c1f6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "GREEN(D6) on",
        "color": "",
        "bgcolor": "limegreen",
        "icon": "",
        "payload": "greenon",
        "payloadType": "global",
        "topic": "",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "5ad1690c.a94f48",
                "f41b0f19.80399"
            ]
        ]
    },
    {
        "id": "3529c7ae.f21198",
        "type": "ui_button",
        "z": "a4ba57e6.f91cc8",
        "name": "LED_BLUE_on",
        "group": "600c4eb9.9c1f6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "BLUE(D5) on",
        "color": "",
        "bgcolor": "blue",
        "icon": "",
        "payload": "blueon",
        "payloadType": "global",
        "topic": "",
        "x": 120,
        "y": 640,
        "wires": [
            [
                "5ad1690c.a94f48",
                "f41b0f19.80399"
            ]
        ]
    },
    {
        "id": "e15ed20c.b4056",
        "type": "ui_button",
        "z": "a4ba57e6.f91cc8",
        "name": "LED_RED_off",
        "group": "600c4eb9.9c1f6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "RED(D7) off",
        "color": "",
        "bgcolor": "tan",
        "icon": "",
        "payload": "redoff",
        "payloadType": "global",
        "topic": "",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "5ad1690c.a94f48",
                "f41b0f19.80399"
            ]
        ]
    },
    {
        "id": "af7343fb.9f208",
        "type": "ui_button",
        "z": "a4ba57e6.f91cc8",
        "name": "LED_GREEN_off",
        "group": "600c4eb9.9c1f6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "GREEN(D6) off",
        "color": "",
        "bgcolor": "darkseagreen",
        "icon": "",
        "payload": "greenoff",
        "payloadType": "global",
        "topic": "",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "5ad1690c.a94f48",
                "f41b0f19.80399"
            ]
        ]
    },
    {
        "id": "d869303a.3035f",
        "type": "ui_button",
        "z": "a4ba57e6.f91cc8",
        "name": "LED_BLUE_off",
        "group": "600c4eb9.9c1f6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "BLUE(D5) off",
        "color": "",
        "bgcolor": "lightskyblue",
        "icon": "",
        "payload": "blueoff",
        "payloadType": "global",
        "topic": "",
        "x": 120,
        "y": 700,
        "wires": [
            [
                "5ad1690c.a94f48",
                "f41b0f19.80399"
            ]
        ]
    },
    {
        "id": "3c16e9ec.d0b076",
        "type": "ui_button",
        "z": "a4ba57e6.f91cc8",
        "name": "LED_ALL_on",
        "group": "600c4eb9.9c1f6",
        "order": 0,
        "width": "4",
        "height": "2",
        "passthru": true,
        "label": "ALL on",
        "color": "",
        "bgcolor": "gold",
        "icon": "",
        "payload": "allon",
        "payloadType": "global",
        "topic": "",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "5ad1690c.a94f48",
                "f41b0f19.80399"
            ]
        ]
    },
    {
        "id": "811faacb.5d1e48",
        "type": "ui_button",
        "z": "a4ba57e6.f91cc8",
        "name": "LED_ALL_off",
        "group": "600c4eb9.9c1f6",
        "order": 0,
        "width": "4",
        "height": "2",
        "passthru": true,
        "label": "ALL off",
        "color": "",
        "bgcolor": "gray",
        "icon": "",
        "payload": "alloff",
        "payloadType": "global",
        "topic": "",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "5ad1690c.a94f48",
                "f41b0f19.80399"
            ]
        ]
    },
    {
        "id": "38c95020.5dcdb",
        "type": "comment",
        "z": "a4ba57e6.f91cc8",
        "name": "デバイス制御（動作部分）",
        "info": "",
        "x": 130,
        "y": 560,
        "wires": []
    },
    {
        "id": "9ed11749.633d98",
        "type": "comment",
        "z": "a4ba57e6.f91cc8",
        "name": "デバイス制御（モジュールID指定と制御用JSONデータの定義）",
        "info": "",
        "x": 250,
        "y": 340,
        "wires": []
    },
    {
        "id": "becb027.ff6c2",
        "type": "function",
        "z": "a4ba57e6.f91cc8",
        "name": "moduleID_set",
        "func": "//context.global.moduleに制御対象のモジュールIDを指定\ncontext.global.module = \"%%moduleID%%\";\n\nmsg.payload = context.global.module;\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 300,
        "y": 440,
        "wires": [
            [
                "dff97450.0e03f8"
            ]
        ]
    },
    {
        "id": "5fffcdd8.d31064",
        "type": "inject",
        "z": "a4ba57e6.f91cc8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 110,
        "y": 440,
        "wires": [
            [
                "becb027.ff6c2"
            ]
        ]
    },
    {
        "id": "1df40874.c50fe8",
        "type": "debug",
        "z": "a4ba57e6.f91cc8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 730,
        "y": 440,
        "wires": []
    },
    {
        "id": "dff97450.0e03f8",
        "type": "function",
        "z": "a4ba57e6.f91cc8",
        "name": "JSON_set",
        "func": "context.global.redon = {\n    \"module\": context.global.module,\n    \"type\": \"channels\",\n    \"payload\": {\n        \"channels\": [\n            {\n                \"channel\": 0,\n                \"type\": \"I\",\n                \"value\": 1\n            }\n        ]\n    }\n};\ncontext.global.greenon = {\n    \"module\": context.global.module,\n    \"type\": \"channels\",\n    \"payload\": {\n        \"channels\": [\n            {\n                \"channel\": 1,\n                \"type\": \"I\",\n                \"value\": 1\n            }\n        ]\n    }\n};\ncontext.global.blueon = {\n    \"module\": context.global.module,\n    \"type\": \"channels\",\n    \"payload\": {\n        \"channels\": [\n            {\n                \"channel\": 2,\n                \"type\": \"I\",\n                \"value\": 1\n            }\n        ]\n    }\n};\ncontext.global.redoff = {\n    \"module\": context.global.module,\n    \"type\": \"channels\",\n    \"payload\": {\n        \"channels\": [\n            {\n                \"channel\": 0,\n                \"type\": \"I\",\n                \"value\": 0\n            }\n        ]\n    }\n};\ncontext.global.greenoff = {\n    \"module\": context.global.module,\n    \"type\": \"channels\",\n    \"payload\": {\n        \"channels\": [\n            {\n                \"channel\": 1,\n                \"type\": \"I\",\n                \"value\": 0\n            }\n        ]\n    }\n};\ncontext.global.blueoff = {\n    \"module\": context.global.module,\n    \"type\": \"channels\",\n    \"payload\": {\n        \"channels\": [\n            {\n                \"channel\": 2,\n                \"type\": \"I\",\n                \"value\": 0\n            }\n        ]\n    }\n};\ncontext.global.allon = {\n    \"module\": context.global.module,\n    \"type\": \"channels\",\n    \"payload\": {\n        \"channels\": [\n            {\n                \"channel\": 0,\n                \"type\": \"I\",\n                \"value\": 1\n            },\n            {\n                \"channel\": 1,\n                \"type\": \"I\",\n                \"value\": 1\n            },\n            {\n                \"channel\": 2,\n                \"type\": \"I\",\n                \"value\": 1\n            }\n        ]\n    }\n};\ncontext.global.alloff = {\n    \"module\": context.global.module,\n    \"type\": \"channels\",\n    \"payload\": {\n        \"channels\": [\n            {\n                \"channel\": 0,\n                \"type\": \"I\",\n                \"value\": 0\n            },\n            {\n                \"channel\": 1,\n                \"type\": \"I\",\n                \"value\": 0\n            },\n            {\n                \"channel\": 2,\n                \"type\": \"I\",\n                \"value\": 0\n            }\n        ]\n    }\n};\n\nreturn [\n    {payload:context.global.redon},\n    {payload:context.global.greenon},\n    {payload:context.global.blueon},\n    {payload:context.global.redoff},\n    {payload:context.global.greenoff},\n    {payload:context.global.blueoff},\n    {payload:context.global.allon},\n    {payload:context.global.alloff}\n];",
        "outputs": "8",
        "noerr": 0,
        "x": 490,
        "y": 440,
        "wires": [
            [
                "1df40874.c50fe8"
            ],
            [
                "1df40874.c50fe8"
            ],
            [
                "1df40874.c50fe8"
            ],
            [
                "1df40874.c50fe8"
            ],
            [
                "1df40874.c50fe8"
            ],
            [
                "1df40874.c50fe8"
            ],
            [
                "1df40874.c50fe8"
            ],
            [
                "1df40874.c50fe8"
            ]
        ]
    },
    {
        "id": "3d5018f7.96abc8",
        "type": "debug",
        "z": "a4ba57e6.f91cc8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "4c7777d1.334de8",
        "type": "debug",
        "z": "a4ba57e6.f91cc8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 250,
        "y": 120,
        "wires": []
    },
    {
        "id": "f93047a7.781f48",
        "type": "comment",
        "z": "a4ba57e6.f91cc8",
        "name": "【オプション】SNS投稿",
        "info": "",
        "x": 750,
        "y": 40,
        "wires": []
    },
    {
        "id": "fc59ee64.e5928",
        "type": "websocket-client",
        "z": "",
        "path": "wss://api.sakura.io/ws/v1/",
        "tls": "",
        "wholemsg": "false"
    },
    {
        "id": "4b67594d.a5b328",
        "type": "ui_group",
        "z": "",
        "name": "温度",
        "tab": "34242c41.c92474",
        "order": 1,
        "disp": true,
        "width": "8"
    },
    {
        "id": "600c4eb9.9c1f6",
        "type": "ui_group",
        "z": "",
        "name": "制御",
        "tab": "34242c41.c92474",
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "34242c41.c92474",
        "type": "ui_tab",
        "z": "",
        "name": "Handson",
        "icon": "dashboard",
        "order": 1
    }
]