firststep/part2/nodered-firststep-part2.json
[
    {
        "id": "7c6c3d77.061f54",
        "type": "tab",
        "label": "グラフ表示と制御",
        "disabled": false,
        "info": "本フローはsakura.ioハンズオンで利用する、Arduino UnoとGrove温度センサ＆LEDを用いたグラフ表示と制御を試すものです。\n\n■グラフ表示\n\nsakura.ioのWebSocket（`wss://api.sakura.io/ws/v1/.....`）サービスから送信されたJSONデータを用いてダッシュボード上にグラフを描画します。\nまた、グラフは`http://<IPアドレス>:<指定したWeb UIポート番号>/ui/`で確認することができます。\n\n以下を設定しデプロイすることで動作します。\n\n1. sakuraio_in(WebSocket-inノード)\n\n    sakura.ioコンパネで確認できるWebSocketのURL（`wss://api.sakura.io/ws/v1/.....`）を設定します。\n\n    \n■デバイス制御\n\nダッシュボード上のボタンを押下することで、モジュールIDで指定したデバイスに制御用のJSONデータを生成し送信します。\n\n以下2点を設定しデプロイすることで動作します。\n\n1. moduleID_set（functionノード）\n\n    sakura.ioコンパネで確認できるID（`uXXXXXXXXXXXX`）を設定します。\n    \n2. sakuraio_out(WebSocket-outノード)\n\n    sakura.ioコンパネで確認できるWebSocketのURL（`wss://api.sakura.io/ws/v1/.....`）を設定します。\n\n> [sakura.io コントロールパネル](https://secure.sakura.ad.jp/iot/)\n\n> [利用Arduinoスケッチ](https://github.com/sakuraio/handson-sample/blob/reform/firststep/part2/arduino-firststep-part2.ino)\n\n> [参考ハンズオン資料](https://speakerdeck.com/sakuraiot/sakuraio-handson-part2)"
    },
    {
        "id": "7171482e.5cfe88",
        "type": "websocket in",
        "z": "7c6c3d77.061f54",
        "name": "sakuraio_in",
        "server": "",
        "client": "3502218a.e14a8e",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "fb8def63.fe7d5",
                "2979913f.e9785e"
            ]
        ]
    },
    {
        "id": "fb8def63.fe7d5",
        "type": "json",
        "z": "7c6c3d77.061f54",
        "name": "String→Object",
        "pretty": false,
        "x": 300,
        "y": 80,
        "wires": [
            [
                "4200ac8d.808004"
            ]
        ]
    },
    {
        "id": "4200ac8d.808004",
        "type": "switch",
        "z": "7c6c3d77.061f54",
        "name": "Type_Check",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "channels",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 290,
        "y": 240,
        "wires": [
            [
                "539207da.825508"
            ]
        ]
    },
    {
        "id": "539207da.825508",
        "type": "function",
        "z": "7c6c3d77.061f54",
        "name": "Ch1(temp)_parse",
        "func": "msg.payload = Math.round(msg.payload.payload.channels[1].value*10)/10;return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 240,
        "wires": [
            [
                "209e7d84.8fe6c2",
                "d178aecc.b227e",
                "f4308c89.b7875"
            ]
        ]
    },
    {
        "id": "d178aecc.b227e",
        "type": "ui_chart",
        "z": "7c6c3d77.061f54",
        "name": "Temp_chart",
        "group": "d217af23.65ec",
        "order": 2,
        "width": "8",
        "height": "5",
        "label": "温度 (10分)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 730,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "209e7d84.8fe6c2",
        "type": "ui_gauge",
        "z": "7c6c3d77.061f54",
        "name": "Temp_gauge",
        "group": "d217af23.65ec",
        "order": 1,
        "width": "8",
        "height": "5",
        "gtype": "gage",
        "title": "現在の温度",
        "label": "℃",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "32",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "30f76d97.1e95e2",
        "type": "comment",
        "z": "7c6c3d77.061f54",
        "name": "ダッシュボード画面でのグラフ表示",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "4561b951.b4b3d8",
        "type": "ui_button",
        "z": "7c6c3d77.061f54",
        "name": "LED_RED_on",
        "group": "668dc373.62bebc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "RED(D7) on",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "redon",
        "payloadType": "global",
        "topic": "",
        "x": 120,
        "y": 600,
        "wires": [
            [
                "40a7ddc.7d7c124",
                "f278fe6d.360bd"
            ]
        ]
    },
    {
        "id": "40a7ddc.7d7c124",
        "type": "websocket out",
        "z": "7c6c3d77.061f54",
        "name": "sakuraio_out",
        "server": "",
        "client": "3502218a.e14a8e",
        "x": 490,
        "y": 600,
        "wires": []
    },
    {
        "id": "f278fe6d.360bd",
        "type": "debug",
        "z": "7c6c3d77.061f54",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 490,
        "y": 660,
        "wires": []
    },
    {
        "id": "53ad690a.a82678",
        "type": "ui_button",
        "z": "7c6c3d77.061f54",
        "name": "LED_GREEN_on",
        "group": "668dc373.62bebc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "GREEN(D6) on",
        "color": "",
        "bgcolor": "limegreen",
        "icon": "",
        "payload": "greenon",
        "payloadType": "global",
        "topic": "",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "40a7ddc.7d7c124",
                "f278fe6d.360bd"
            ]
        ]
    },
    {
        "id": "865c308b.f0614",
        "type": "ui_button",
        "z": "7c6c3d77.061f54",
        "name": "LED_BLUE_on",
        "group": "668dc373.62bebc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "BLUE(D5) on",
        "color": "",
        "bgcolor": "blue",
        "icon": "",
        "payload": "blueon",
        "payloadType": "global",
        "topic": "",
        "x": 120,
        "y": 640,
        "wires": [
            [
                "40a7ddc.7d7c124",
                "f278fe6d.360bd"
            ]
        ]
    },
    {
        "id": "39c6b816.78e3d8",
        "type": "ui_button",
        "z": "7c6c3d77.061f54",
        "name": "LED_RED_off",
        "group": "668dc373.62bebc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "RED(D7) off",
        "color": "",
        "bgcolor": "tan",
        "icon": "",
        "payload": "redoff",
        "payloadType": "global",
        "topic": "",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "40a7ddc.7d7c124",
                "f278fe6d.360bd"
            ]
        ]
    },
    {
        "id": "a404382b.323b78",
        "type": "ui_button",
        "z": "7c6c3d77.061f54",
        "name": "LED_GREEN_off",
        "group": "668dc373.62bebc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "GREEN(D6) off",
        "color": "",
        "bgcolor": "darkseagreen",
        "icon": "",
        "payload": "greenoff",
        "payloadType": "global",
        "topic": "",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "40a7ddc.7d7c124",
                "f278fe6d.360bd"
            ]
        ]
    },
    {
        "id": "bc5b42ea.3b79c",
        "type": "ui_button",
        "z": "7c6c3d77.061f54",
        "name": "LED_BLUE_off",
        "group": "668dc373.62bebc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "BLUE(D5) off",
        "color": "",
        "bgcolor": "lightskyblue",
        "icon": "",
        "payload": "blueoff",
        "payloadType": "global",
        "topic": "",
        "x": 120,
        "y": 700,
        "wires": [
            [
                "40a7ddc.7d7c124",
                "f278fe6d.360bd"
            ]
        ]
    },
    {
        "id": "2512660d.053a4a",
        "type": "ui_button",
        "z": "7c6c3d77.061f54",
        "name": "LED_ALL_on",
        "group": "668dc373.62bebc",
        "order": 0,
        "width": "4",
        "height": "2",
        "passthru": true,
        "label": "ALL on",
        "color": "",
        "bgcolor": "gold",
        "icon": "",
        "payload": "allon",
        "payloadType": "global",
        "topic": "",
        "x": 120,
        "y": 720,
        "wires": [
            [
                "40a7ddc.7d7c124",
                "f278fe6d.360bd"
            ]
        ]
    },
    {
        "id": "c27cc8c5.8c0e28",
        "type": "ui_button",
        "z": "7c6c3d77.061f54",
        "name": "LED_ALL_off",
        "group": "668dc373.62bebc",
        "order": 0,
        "width": "4",
        "height": "2",
        "passthru": true,
        "label": "ALL off",
        "color": "",
        "bgcolor": "gray",
        "icon": "",
        "payload": "alloff",
        "payloadType": "global",
        "topic": "",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "40a7ddc.7d7c124",
                "f278fe6d.360bd"
            ]
        ]
    },
    {
        "id": "9812f407.2dfaf8",
        "type": "comment",
        "z": "7c6c3d77.061f54",
        "name": "デバイス制御（動作部分）",
        "info": "",
        "x": 130,
        "y": 560,
        "wires": []
    },
    {
        "id": "12463669.40146a",
        "type": "comment",
        "z": "7c6c3d77.061f54",
        "name": "デバイス制御（モジュールID指定と制御用JSONデータの定義）",
        "info": "",
        "x": 250,
        "y": 340,
        "wires": []
    },
    {
        "id": "3bf09377.7de4ac",
        "type": "function",
        "z": "7c6c3d77.061f54",
        "name": "moduleID_set",
        "func": "//context.global.moduleに制御対象のモジュールIDを指定\ncontext.global.module = \"%%moduleID%%\";\n\nmsg.payload = context.global.module;\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 300,
        "y": 440,
        "wires": [
            [
                "2d17e002.60aba"
            ]
        ]
    },
    {
        "id": "a2d2252b.3f7ae8",
        "type": "inject",
        "z": "7c6c3d77.061f54",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 110,
        "y": 440,
        "wires": [
            [
                "3bf09377.7de4ac"
            ]
        ]
    },
    {
        "id": "d031fd39.2f7ad",
        "type": "debug",
        "z": "7c6c3d77.061f54",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 730,
        "y": 440,
        "wires": []
    },
    {
        "id": "2d17e002.60aba",
        "type": "function",
        "z": "7c6c3d77.061f54",
        "name": "JSON_set",
        "func": "context.global.redon = {\n    \"module\": context.global.module,\n    \"type\": \"channels\",\n    \"payload\": {\n        \"channels\": [\n            {\n                \"channel\": 0,\n                \"type\": \"I\",\n                \"value\": 1\n            }\n        ]\n    }\n};\ncontext.global.greenon = {\n    \"module\": context.global.module,\n    \"type\": \"channels\",\n    \"payload\": {\n        \"channels\": [\n            {\n                \"channel\": 1,\n                \"type\": \"I\",\n                \"value\": 1\n            }\n        ]\n    }\n};\ncontext.global.blueon = {\n    \"module\": context.global.module,\n    \"type\": \"channels\",\n    \"payload\": {\n        \"channels\": [\n            {\n                \"channel\": 2,\n                \"type\": \"I\",\n                \"value\": 1\n            }\n        ]\n    }\n};\ncontext.global.redoff = {\n    \"module\": context.global.module,\n    \"type\": \"channels\",\n    \"payload\": {\n        \"channels\": [\n            {\n                \"channel\": 0,\n                \"type\": \"I\",\n                \"value\": 0\n            }\n        ]\n    }\n};\ncontext.global.greenoff = {\n    \"module\": context.global.module,\n    \"type\": \"channels\",\n    \"payload\": {\n        \"channels\": [\n            {\n                \"channel\": 1,\n                \"type\": \"I\",\n                \"value\": 0\n            }\n        ]\n    }\n};\ncontext.global.blueoff = {\n    \"module\": context.global.module,\n    \"type\": \"channels\",\n    \"payload\": {\n        \"channels\": [\n            {\n                \"channel\": 2,\n                \"type\": \"I\",\n                \"value\": 0\n            }\n        ]\n    }\n};\ncontext.global.allon = {\n    \"module\": context.global.module,\n    \"type\": \"channels\",\n    \"payload\": {\n        \"channels\": [\n            {\n                \"channel\": 0,\n                \"type\": \"I\",\n                \"value\": 1\n            },\n            {\n                \"channel\": 1,\n                \"type\": \"I\",\n                \"value\": 1\n            },\n            {\n                \"channel\": 2,\n                \"type\": \"I\",\n                \"value\": 1\n            }\n        ]\n    }\n};\ncontext.global.alloff = {\n    \"module\": context.global.module,\n    \"type\": \"channels\",\n    \"payload\": {\n        \"channels\": [\n            {\n                \"channel\": 0,\n                \"type\": \"I\",\n                \"value\": 0\n            },\n            {\n                \"channel\": 1,\n                \"type\": \"I\",\n                \"value\": 0\n            },\n            {\n                \"channel\": 2,\n                \"type\": \"I\",\n                \"value\": 0\n            }\n        ]\n    }\n};\n\nreturn [\n    {payload:context.global.redon},\n    {payload:context.global.greenon},\n    {payload:context.global.blueon},\n    {payload:context.global.redoff},\n    {payload:context.global.greenoff},\n    {payload:context.global.blueoff},\n    {payload:context.global.allon},\n    {payload:context.global.alloff}\n];",
        "outputs": "8",
        "noerr": 0,
        "x": 490,
        "y": 440,
        "wires": [
            [
                "d031fd39.2f7ad"
            ],
            [
                "d031fd39.2f7ad"
            ],
            [
                "d031fd39.2f7ad"
            ],
            [
                "d031fd39.2f7ad"
            ],
            [
                "d031fd39.2f7ad"
            ],
            [
                "d031fd39.2f7ad"
            ],
            [
                "d031fd39.2f7ad"
            ],
            [
                "d031fd39.2f7ad"
            ]
        ]
    },
    {
        "id": "f4308c89.b7875",
        "type": "debug",
        "z": "7c6c3d77.061f54",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "2979913f.e9785e",
        "type": "debug",
        "z": "7c6c3d77.061f54",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 250,
        "y": 120,
        "wires": []
    },
    {
        "id": "3502218a.e14a8e",
        "type": "websocket-client",
        "z": "",
        "path": "wss://api.sakura.io/ws/v1/",
        "tls": "",
        "wholemsg": "false"
    },
    {
        "id": "d217af23.65ec",
        "type": "ui_group",
        "z": "",
        "name": "温度",
        "tab": "a42bddd8.1ea7b",
        "order": 1,
        "disp": true,
        "width": "8"
    },
    {
        "id": "668dc373.62bebc",
        "type": "ui_group",
        "z": "",
        "name": "制御",
        "tab": "a42bddd8.1ea7b",
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "a42bddd8.1ea7b",
        "type": "ui_tab",
        "z": "",
        "name": "Handson",
        "icon": "dashboard",
        "order": 1
    }
]