node-red/basic-graph-and-control-with-tweet.json
[
    {
        "id": "57449933.976cf8",
        "type": "tab",
        "label": "グラフ表示と制御",
        "disabled": false,
        "info": "本フローはsakura.ioハンズオンで利用する、Arduino Unoと温湿度センサ（HDC1000 or SHT31）を用いたグラフ表示とTwitter連携を試すものです。\n\n■グラフ表示＆SNS投稿\n\nsakura.ioのWebSocket（`wss://api.sakura.io/ws/v1/.....`）サービスから送信されたJSONデータを用いてダッシュボード上にグラフを描画します。\nまた、グラフは`http://<IPアドレス>:<指定したWeb UIポート番号>/ui/`で確認することができます。\n\nオプションとして、Twittter IDを設定することで温度情報（Channel0）を取り出し、Twitterにメッセージを投稿します。\n\n以下2点を設定しデプロイすることで動作します。\n\n1. sakuraio_in(WebSocket-inノード)\n\n    sakura.ioコンパネで確認できるWebSocketのURL（`wss://api.sakura.io/ws/v1/.....`）を設定します。\n\n2. Tweet(Twitterノード)\n\n    認証を行いTwitterのアカウントを連携します。（鍵アカウントでは動作しません）\n    \n■デバイス制御\n\nダッシュボード上のボタンを押下することで、モジュールIDで指定したデバイスに制御用のJSONデータを生成し送信します。\n\n以下2点を設定しデプロイすることで動作します。\n\n1. moduleID_set（functionノード）\n\n    sakura.ioコンパネで確認できるID（`uXXXXXXXXXXXX`）を設定します。\n    \n2. sakuraio_out(WebSocket-outノード)\n\n    sakura.ioコンパネで確認できるWebSocketのURL（`wss://api.sakura.io/ws/v1/.....`）を設定します。\n\n\n> [sakura.io コントロールパネル](https://secure.sakura.ad.jp/iot/)\n\n> [利用Arduinoスケッチ1（HDC1000利用時）](https://github.com/sakuraio/handson-sample/blob/master/arduino/basic-HDC1000-with-LED.ino)\n\n> [利用Arduinoスケッチ2（SHT31利用時）](https://github.com/sakuraio/handson-sample/blob/master/arduino/basic-SHT31-with-LED.ino)\n\n> [参考ハンズオン資料](https://www.slideshare.net/sakura_pr/sakuraio-handson)"
    },
    {
        "id": "fb2c2d10.9f3f8",
        "type": "websocket in",
        "z": "57449933.976cf8",
        "name": "sakuraio_in",
        "server": "",
        "client": "9a51fb2e.9278c8",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "d91a3e22.eaaa6",
                "8f2741fb.6d3d2"
            ]
        ]
    },
    {
        "id": "d91a3e22.eaaa6",
        "type": "json",
        "z": "57449933.976cf8",
        "name": "String→Object",
        "pretty": false,
        "x": 340,
        "y": 80,
        "wires": [
            [
                "466131d3.1be2a"
            ]
        ]
    },
    {
        "id": "466131d3.1be2a",
        "type": "switch",
        "z": "57449933.976cf8",
        "name": "Type_Check",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "channels",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "7ba724e6.b6d5dc",
                "77245f07.6c2fb"
            ]
        ]
    },
    {
        "id": "7ba724e6.b6d5dc",
        "type": "function",
        "z": "57449933.976cf8",
        "name": "Ch0(temp)_parse",
        "func": "msg.payload = Math.round(msg.payload.payload.channels[0].value*10)/10;return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "8bdf359e.ce6ff8",
                "17200c3e.b53024",
                "7de42fa9.35305",
                "e6c4d4f8.7906f8"
            ]
        ]
    },
    {
        "id": "17200c3e.b53024",
        "type": "ui_chart",
        "z": "57449933.976cf8",
        "name": "Temp_chart",
        "group": "99821e48.aa3c4",
        "order": 2,
        "width": "8",
        "height": "5",
        "label": "温度 (10分)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 590,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8bdf359e.ce6ff8",
        "type": "ui_gauge",
        "z": "57449933.976cf8",
        "name": "Temp_gauge",
        "group": "99821e48.aa3c4",
        "order": 1,
        "width": "8",
        "height": "5",
        "gtype": "gage",
        "title": "現在の温度",
        "label": "℃",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "32",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "7de42fa9.35305",
        "type": "debug",
        "z": "57449933.976cf8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "77245f07.6c2fb",
        "type": "function",
        "z": "57449933.976cf8",
        "name": "Ch1(humi)_parse",
        "func": "msg.payload = Math.round(msg.payload.payload.channels[1].value*10)/10;return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 360,
        "wires": [
            [
                "3231026b.0f176e",
                "c6d18a2b.71a7c8",
                "dd64c490.31cfb8"
            ]
        ]
    },
    {
        "id": "dd266a46.a8aff8",
        "type": "debug",
        "z": "57449933.976cf8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 930,
        "y": 260,
        "wires": []
    },
    {
        "id": "4375b3c2.c0dcdc",
        "type": "function",
        "z": "57449933.976cf8",
        "name": "Message",
        "func": "msg.payload = `さくらインターネットのハンズオンで温度情報を取得中！ただ今の現地温度は${msg.payload}度だよ。資料は http://bit.ly/hosap101 です！今後ともよろしくお願いします！ #sakuraio #さくらインターネット`;return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 260,
        "wires": [
            [
                "71d3b282.6b7b3c",
                "dd266a46.a8aff8"
            ]
        ]
    },
    {
        "id": "e6c4d4f8.7906f8",
        "type": "trigger",
        "z": "57449933.976cf8",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "units": "min",
        "reset": "",
        "name": "",
        "x": 590,
        "y": 260,
        "wires": [
            [
                "4375b3c2.c0dcdc"
            ]
        ]
    },
    {
        "id": "71d3b282.6b7b3c",
        "type": "twitter out",
        "z": "57449933.976cf8",
        "twitter": "",
        "name": "Tweet",
        "x": 910,
        "y": 300,
        "wires": []
    },
    {
        "id": "3231026b.0f176e",
        "type": "debug",
        "z": "57449933.976cf8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 320,
        "wires": []
    },
    {
        "id": "c6d18a2b.71a7c8",
        "type": "ui_gauge",
        "z": "57449933.976cf8",
        "name": "Humi_gauge",
        "group": "1a4fc3b6.886b7c",
        "order": 0,
        "width": "8",
        "height": "5",
        "gtype": "gage",
        "title": "現在の湿度",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#00b500",
            "#0000d2"
        ],
        "seg1": "30",
        "seg2": "70",
        "x": 590,
        "y": 360,
        "wires": []
    },
    {
        "id": "dd64c490.31cfb8",
        "type": "ui_chart",
        "z": "57449933.976cf8",
        "name": "Humi_chart",
        "group": "1a4fc3b6.886b7c",
        "order": 0,
        "width": "8",
        "height": "5",
        "label": "湿度 (10分)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 590,
        "y": 400,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ac45fd52.00eb6",
        "type": "comment",
        "z": "57449933.976cf8",
        "name": "グラフ表示＆SNS投稿",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "410ee05e.41e37",
        "type": "ui_button",
        "z": "57449933.976cf8",
        "name": "LED_RED_on",
        "group": "59d89c7.8408964",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "RED on",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "redon",
        "payloadType": "global",
        "topic": "",
        "x": 340,
        "y": 700,
        "wires": [
            [
                "735a516b.de0b7",
                "94f104a5.950318"
            ]
        ]
    },
    {
        "id": "8f2741fb.6d3d2",
        "type": "debug",
        "z": "57449933.976cf8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 190,
        "y": 140,
        "wires": []
    },
    {
        "id": "735a516b.de0b7",
        "type": "websocket out",
        "z": "57449933.976cf8",
        "name": "sakuraio_out",
        "server": "",
        "client": "9a51fb2e.9278c8",
        "x": 590,
        "y": 700,
        "wires": []
    },
    {
        "id": "94f104a5.950318",
        "type": "debug",
        "z": "57449933.976cf8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 760,
        "wires": []
    },
    {
        "id": "64d5ff55.e1e25",
        "type": "ui_button",
        "z": "57449933.976cf8",
        "name": "LED_GREEN_on",
        "group": "59d89c7.8408964",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "GREEN on",
        "color": "",
        "bgcolor": "limegreen",
        "icon": "",
        "payload": "greenon",
        "payloadType": "global",
        "topic": "",
        "x": 350,
        "y": 740,
        "wires": [
            [
                "735a516b.de0b7",
                "94f104a5.950318"
            ]
        ]
    },
    {
        "id": "a8d24dac.c89eb",
        "type": "ui_button",
        "z": "57449933.976cf8",
        "name": "LED_BLUE_on",
        "group": "59d89c7.8408964",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "BLUE on",
        "color": "",
        "bgcolor": "blue",
        "icon": "",
        "payload": "blueon",
        "payloadType": "global",
        "topic": "",
        "x": 340,
        "y": 780,
        "wires": [
            [
                "735a516b.de0b7",
                "94f104a5.950318"
            ]
        ]
    },
    {
        "id": "563af81f.565b18",
        "type": "ui_button",
        "z": "57449933.976cf8",
        "name": "LED_RED_off",
        "group": "59d89c7.8408964",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "RED off",
        "color": "",
        "bgcolor": "tan",
        "icon": "",
        "payload": "redoff",
        "payloadType": "global",
        "topic": "",
        "x": 340,
        "y": 820,
        "wires": [
            [
                "735a516b.de0b7",
                "94f104a5.950318"
            ]
        ]
    },
    {
        "id": "9615046.e0ffef8",
        "type": "ui_button",
        "z": "57449933.976cf8",
        "name": "LED_GREEN_off",
        "group": "59d89c7.8408964",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "GREEN off",
        "color": "",
        "bgcolor": "darkseagreen",
        "icon": "",
        "payload": "greenoff",
        "payloadType": "global",
        "topic": "",
        "x": 350,
        "y": 860,
        "wires": [
            [
                "735a516b.de0b7",
                "94f104a5.950318"
            ]
        ]
    },
    {
        "id": "c7a033e7.c180f",
        "type": "ui_button",
        "z": "57449933.976cf8",
        "name": "LED_BLUE_off",
        "group": "59d89c7.8408964",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "BLUE off",
        "color": "",
        "bgcolor": "lightskyblue",
        "icon": "",
        "payload": "blueoff",
        "payloadType": "global",
        "topic": "",
        "x": 340,
        "y": 900,
        "wires": [
            [
                "735a516b.de0b7",
                "94f104a5.950318"
            ]
        ]
    },
    {
        "id": "d6a03ff1.12477",
        "type": "ui_button",
        "z": "57449933.976cf8",
        "name": "LED_ALL_on",
        "group": "59d89c7.8408964",
        "order": 0,
        "width": "4",
        "height": "2",
        "passthru": true,
        "label": "ALL on",
        "color": "",
        "bgcolor": "gold",
        "icon": "",
        "payload": "allon",
        "payloadType": "global",
        "topic": "",
        "x": 330,
        "y": 940,
        "wires": [
            [
                "735a516b.de0b7",
                "94f104a5.950318"
            ]
        ]
    },
    {
        "id": "fc0dc1d7.4c563",
        "type": "ui_button",
        "z": "57449933.976cf8",
        "name": "LED_ALL_off",
        "group": "59d89c7.8408964",
        "order": 0,
        "width": "4",
        "height": "2",
        "passthru": true,
        "label": "ALL off",
        "color": "",
        "bgcolor": "gray",
        "icon": "",
        "payload": "alloff",
        "payloadType": "global",
        "topic": "",
        "x": 330,
        "y": 980,
        "wires": [
            [
                "735a516b.de0b7",
                "94f104a5.950318"
            ]
        ]
    },
    {
        "id": "e766b67f.e4eb28",
        "type": "comment",
        "z": "57449933.976cf8",
        "name": "デバイス制御（動作部分）",
        "info": "",
        "x": 130,
        "y": 660,
        "wires": []
    },
    {
        "id": "56e0bd61.8daa24",
        "type": "inject",
        "z": "57449933.976cf8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 700,
        "wires": [
            [
                "410ee05e.41e37"
            ]
        ]
    },
    {
        "id": "4b51475c.02c4d8",
        "type": "inject",
        "z": "57449933.976cf8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 740,
        "wires": [
            [
                "64d5ff55.e1e25"
            ]
        ]
    },
    {
        "id": "533e2d0e.83f7f4",
        "type": "inject",
        "z": "57449933.976cf8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 780,
        "wires": [
            [
                "a8d24dac.c89eb"
            ]
        ]
    },
    {
        "id": "cf3221a7.ac158",
        "type": "inject",
        "z": "57449933.976cf8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 820,
        "wires": [
            [
                "563af81f.565b18"
            ]
        ]
    },
    {
        "id": "c574b4b0.dcaba8",
        "type": "inject",
        "z": "57449933.976cf8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 860,
        "wires": [
            [
                "9615046.e0ffef8"
            ]
        ]
    },
    {
        "id": "3cf5d18e.bea43e",
        "type": "inject",
        "z": "57449933.976cf8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 900,
        "wires": [
            [
                "c7a033e7.c180f"
            ]
        ]
    },
    {
        "id": "dc34472c.ff8018",
        "type": "inject",
        "z": "57449933.976cf8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 940,
        "wires": [
            [
                "d6a03ff1.12477"
            ]
        ]
    },
    {
        "id": "481b95b0.18be4c",
        "type": "inject",
        "z": "57449933.976cf8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 980,
        "wires": [
            [
                "fc0dc1d7.4c563"
            ]
        ]
    },
    {
        "id": "3087d593.46ac4a",
        "type": "comment",
        "z": "57449933.976cf8",
        "name": "デバイス制御（モジュールIDの指定と制御用JSONデータの定義）",
        "info": "",
        "x": 260,
        "y": 460,
        "wires": []
    },
    {
        "id": "fc953fd0.15fef",
        "type": "function",
        "z": "57449933.976cf8",
        "name": "moduleID_set",
        "func": "//context.global.moduleに制御対象のモジュールIDを指定\ncontext.global.module = \"%%moduleID%%\";\n\nmsg.payload = context.global.module;\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 340,
        "y": 560,
        "wires": [
            [
                "ba6f3001.35ef9"
            ]
        ]
    },
    {
        "id": "f9545597.32c828",
        "type": "inject",
        "z": "57449933.976cf8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 560,
        "wires": [
            [
                "fc953fd0.15fef"
            ]
        ]
    },
    {
        "id": "b5706c87.c37ec",
        "type": "debug",
        "z": "57449933.976cf8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 770,
        "y": 560,
        "wires": []
    },
    {
        "id": "ba6f3001.35ef9",
        "type": "function",
        "z": "57449933.976cf8",
        "name": "JSON_set",
        "func": "context.global.redon = {\n    \"module\": context.global.module,\n    \"type\": \"channels\",\n    \"payload\": {\n        \"channels\": [\n            {\n                \"channel\": 0,\n                \"type\": \"I\",\n                \"value\": 1\n            }\n        ]\n    }\n};\ncontext.global.greenon = {\n    \"module\": context.global.module,\n    \"type\": \"channels\",\n    \"payload\": {\n        \"channels\": [\n            {\n                \"channel\": 1,\n                \"type\": \"I\",\n                \"value\": 1\n            }\n        ]\n    }\n};\ncontext.global.blueon = {\n    \"module\": context.global.module,\n    \"type\": \"channels\",\n    \"payload\": {\n        \"channels\": [\n            {\n                \"channel\": 2,\n                \"type\": \"I\",\n                \"value\": 1\n            }\n        ]\n    }\n};\ncontext.global.redoff = {\n    \"module\": context.global.module,\n    \"type\": \"channels\",\n    \"payload\": {\n        \"channels\": [\n            {\n                \"channel\": 0,\n                \"type\": \"I\",\n                \"value\": 0\n            }\n        ]\n    }\n};\ncontext.global.greenoff = {\n    \"module\": context.global.module,\n    \"type\": \"channels\",\n    \"payload\": {\n        \"channels\": [\n            {\n                \"channel\": 1,\n                \"type\": \"I\",\n                \"value\": 0\n            }\n        ]\n    }\n};\ncontext.global.blueoff = {\n    \"module\": context.global.module,\n    \"type\": \"channels\",\n    \"payload\": {\n        \"channels\": [\n            {\n                \"channel\": 2,\n                \"type\": \"I\",\n                \"value\": 0\n            }\n        ]\n    }\n};\ncontext.global.allon = {\n    \"module\": context.global.module,\n    \"type\": \"channels\",\n    \"payload\": {\n        \"channels\": [\n            {\n                \"channel\": 0,\n                \"type\": \"I\",\n                \"value\": 1\n            },\n            {\n                \"channel\": 1,\n                \"type\": \"I\",\n                \"value\": 1\n            },\n            {\n                \"channel\": 2,\n                \"type\": \"I\",\n                \"value\": 1\n            }\n        ]\n    }\n};\ncontext.global.alloff = {\n    \"module\": context.global.module,\n    \"type\": \"channels\",\n    \"payload\": {\n        \"channels\": [\n            {\n                \"channel\": 0,\n                \"type\": \"I\",\n                \"value\": 0\n            },\n            {\n                \"channel\": 1,\n                \"type\": \"I\",\n                \"value\": 0\n            },\n            {\n                \"channel\": 2,\n                \"type\": \"I\",\n                \"value\": 0\n            }\n        ]\n    }\n};\n\nreturn [\n    {payload:context.global.redon},\n    {payload:context.global.greenon},\n    {payload:context.global.blueon},\n    {payload:context.global.redoff},\n    {payload:context.global.greenoff},\n    {payload:context.global.blueoff},\n    {payload:context.global.allon},\n    {payload:context.global.alloff}\n];",
        "outputs": "8",
        "noerr": 0,
        "x": 590,
        "y": 560,
        "wires": [
            [
                "b5706c87.c37ec"
            ],
            [
                "b5706c87.c37ec"
            ],
            [
                "b5706c87.c37ec"
            ],
            [
                "b5706c87.c37ec"
            ],
            [
                "b5706c87.c37ec"
            ],
            [
                "b5706c87.c37ec"
            ],
            [
                "b5706c87.c37ec"
            ],
            [
                "b5706c87.c37ec"
            ]
        ]
    },
    {
        "id": "9a51fb2e.9278c8",
        "type": "websocket-client",
        "z": "",
        "path": "wss://api.sakura.io/ws/v1/",
        "wholemsg": "false"
    },
    {
        "id": "99821e48.aa3c4",
        "type": "ui_group",
        "z": "",
        "name": "温度",
        "tab": "d6e13bb9.625478",
        "order": 1,
        "disp": true,
        "width": "8"
    },
    {
        "id": "1a4fc3b6.886b7c",
        "type": "ui_group",
        "z": "",
        "name": "湿度",
        "tab": "d6e13bb9.625478",
        "order": 2,
        "disp": true,
        "width": "8"
    },
    {
        "id": "59d89c7.8408964",
        "type": "ui_group",
        "z": "",
        "name": "Control",
        "tab": "d6e13bb9.625478",
        "disp": true,
        "width": "4"
    },
    {
        "id": "d6e13bb9.625478",
        "type": "ui_tab",
        "z": "",
        "name": "Handson",
        "icon": "dashboard",
        "order": 1
    }
]