node-red/ekispert-flow-send-message-in-slack.json
[
    {
        "id": "bb8c04.7e0bb4",
        "type": "tab",
        "label": "駅すぱあとWebサービス連携＆Slack投稿",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1ee7b41c.b8df1c",
        "type": "comment",
        "z": "bb8c04.7e0bb4",
        "name": "駅すぱあと範囲探索&slack投稿",
        "info": "",
        "x": 170,
        "y": 280,
        "wires": []
    },
    {
        "id": "ff72755c.5cf5e",
        "type": "function",
        "z": "bb8c04.7e0bb4",
        "name": "parse",
        "func": "var points = msg.payload.ResultSet.Point;\n\nif(!Array.isArray(points)){\n  points = [points];\n}\n\nvar displayStations = [];\n\nfor(var i = 0; i < points.length; i++) {\n  displayStations.push(\"・\" + points[i].Station.Name + \"駅 \" + points[i].Cost.Minute + \"分 乗換\" + points[i].Cost.TransferCount + \"回\");\n}\n\nvar newMsg = {\n  payload: displayStations.join(\"\\n\")\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 480,
        "wires": [
            [
                "37155d81.6b537a"
            ]
        ]
    },
    {
        "id": "d7db01c6.97a25",
        "type": "slack",
        "z": "bb8c04.7e0bb4",
        "name": "",
        "channelURL": "",
        "username": "",
        "emojiIcon": "",
        "channel": "",
        "x": 770,
        "y": 480,
        "wires": []
    },
    {
        "id": "8f149fc8.c5dcc8",
        "type": "debug",
        "z": "bb8c04.7e0bb4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 790,
        "y": 520,
        "wires": []
    },
    {
        "id": "d64b9efa.f2c84",
        "type": "inject",
        "z": "bb8c04.7e0bb4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "27ad94ae.2238dc"
            ]
        ]
    },
    {
        "id": "6c1a7dc0.0da844",
        "type": "switch",
        "z": "bb8c04.7e0bb4",
        "name": "湿度が◯◯度以上・以下だったら",
        "property": "humi",
        "propertyType": "global",
        "rules": [
            {
                "t": "lt",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "70",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 700,
        "y": 320,
        "wires": [
            [
                "c3f99f8.67f886",
                "3bc7b613.34c242"
            ],
            [
                "c3f99f8.67f886",
                "3bc7b613.34c242"
            ]
        ]
    },
    {
        "id": "18b3c86e.b1e1f8",
        "type": "slack",
        "z": "bb8c04.7e0bb4",
        "name": "",
        "channelURL": "",
        "username": "",
        "emojiIcon": "",
        "channel": "",
        "x": 950,
        "y": 400,
        "wires": []
    },
    {
        "id": "d0e290f.c584b7",
        "type": "debug",
        "z": "bb8c04.7e0bb4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 970,
        "y": 440,
        "wires": []
    },
    {
        "id": "27ad94ae.2238dc",
        "type": "switch",
        "z": "bb8c04.7e0bb4",
        "name": "温度が◯◯度以上・以下だったら",
        "property": "temp",
        "propertyType": "global",
        "rules": [
            {
                "t": "lt",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "25",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 380,
        "y": 320,
        "wires": [
            [
                "6c1a7dc0.0da844"
            ],
            [
                "6c1a7dc0.0da844"
            ]
        ]
    },
    {
        "id": "97dcebcd.bb1468",
        "type": "search range",
        "z": "bb8c04.7e0bb4",
        "name": "",
        "accessKey": "",
        "baseList": "",
        "upperMinute": "10",
        "upperTransferCount": "",
        "plane": "",
        "shinkansen": "",
        "limitedExpress": "",
        "limit": "",
        "x": 270,
        "y": 480,
        "wires": [
            [
                "ff72755c.5cf5e",
                "fb003f18.c8fdd8"
            ]
        ]
    },
    {
        "id": "fb003f18.c8fdd8",
        "type": "debug",
        "z": "bb8c04.7e0bb4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 450,
        "y": 520,
        "wires": []
    },
    {
        "id": "c3f99f8.67f886",
        "type": "template",
        "z": "bb8c04.7e0bb4",
        "name": "Slack Message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "部屋の環境がよろしくないみたい！\n温度：{{global.temp}}\n湿度：{{global.humi}}",
        "output": "str",
        "x": 780,
        "y": 400,
        "wires": [
            [
                "18b3c86e.b1e1f8",
                "d0e290f.c584b7"
            ]
        ]
    },
    {
        "id": "37155d81.6b537a",
        "type": "template",
        "z": "bb8c04.7e0bb4",
        "name": "Slack Message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "気分転換にお出かけでもどう？\n{{global.stationName}}から行ける駅を調べたよ!\n{{payload}}",
        "output": "str",
        "x": 600,
        "y": 480,
        "wires": [
            [
                "8f149fc8.c5dcc8",
                "d7db01c6.97a25"
            ]
        ]
    },
    {
        "id": "2c4e5917.2a1426",
        "type": "websocket in",
        "z": "bb8c04.7e0bb4",
        "name": "sakuraio-websocket",
        "server": "",
        "client": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "b473b3b5.e784e"
            ]
        ]
    },
    {
        "id": "b473b3b5.e784e",
        "type": "json",
        "z": "bb8c04.7e0bb4",
        "name": "String→Objectへの変換",
        "pretty": false,
        "x": 370,
        "y": 200,
        "wires": [
            [
                "23be53f9.c7f1f4"
            ]
        ]
    },
    {
        "id": "23be53f9.c7f1f4",
        "type": "switch",
        "z": "bb8c04.7e0bb4",
        "name": "Type＝Channelsだけ通過",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "channels",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 630,
        "y": 200,
        "wires": [
            [
                "59ee987e.69ef8"
            ]
        ]
    },
    {
        "id": "59ee987e.69ef8",
        "type": "function",
        "z": "bb8c04.7e0bb4",
        "name": "temp&humi parse",
        "func": "// 温度をグローバル変数に代入\ncontext.global.temp = Math.round(msg.payload.payload.channels[0].value*10)/10;\n\n// 湿度をグローバル変数に代入\ncontext.global.humi = Math.round(msg.payload.payload.channels[1].value*10)/10;\n\nvar msg = {\n    payload: {\n        temp: context.global.temp,\n        humi: context.global.humi\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 200,
        "wires": [
            [
                "3268633f.83a434"
            ]
        ]
    },
    {
        "id": "3268633f.83a434",
        "type": "debug",
        "z": "bb8c04.7e0bb4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1070,
        "y": 200,
        "wires": []
    },
    {
        "id": "17753ff3.fb2c5",
        "type": "comment",
        "z": "bb8c04.7e0bb4",
        "name": "sakura.ioからデータ取得",
        "info": "",
        "x": 150,
        "y": 160,
        "wires": []
    },
    {
        "id": "655b85a8.787d9c",
        "type": "function",
        "z": "bb8c04.7e0bb4",
        "name": "parse",
        "func": "var points = msg.payload.ResultSet.Point;\nif(!Array.isArray(points))\n{\n  points = [points];}\n\ncontext.global.stationName = points[0].Station.Name;\ncontext.global.stationCode = points[0].Station.code;\n\nreturn {\n  payload: {\n    stationName: context.global.stationName,\n    stationCode: context.global.stationCode\n  }\n};",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 80,
        "wires": [
            [
                "a2f30721.6dd798"
            ]
        ]
    },
    {
        "id": "9a0863f2.2617a8",
        "type": "inject",
        "z": "bb8c04.7e0bb4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "aa126309.1d50e"
            ]
        ]
    },
    {
        "id": "aa126309.1d50e",
        "type": "station",
        "z": "bb8c04.7e0bb4",
        "name": "",
        "accessKey": "",
        "stationName": "高円寺",
        "stationCode": "",
        "stationOldName": "",
        "corporationName": "",
        "railName": "",
        "operationLineCode": "",
        "trafficType": "",
        "prefectureCode": "",
        "offset": "",
        "limit": "",
        "direction": "",
        "corporationBind": "",
        "gcs": "",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "655b85a8.787d9c"
            ]
        ]
    },
    {
        "id": "a2f30721.6dd798",
        "type": "debug",
        "z": "bb8c04.7e0bb4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "3bc7b613.34c242",
        "type": "template",
        "z": "bb8c04.7e0bb4",
        "name": "",
        "field": "baseList",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{global.stationCode}}",
        "output": "str",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "97dcebcd.bb1468"
            ]
        ]
    },
    {
        "id": "731cfdd2.1a9424",
        "type": "comment",
        "z": "bb8c04.7e0bb4",
        "name": "駅の取得",
        "info": "",
        "x": 100,
        "y": 40,
        "wires": []
    }
]
