node-red/ekispert-flow_send_message_in_slack.json
[
    {
        "id": "e53a4923.b90648",
        "type": "websocket in",
        "z": "776a234b.b478cc",
        "name": "Recieve data",
        "server": "",
        "client": "2c78bdd9.1a7fc2",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "31c235a7.e23cfa",
                "3c6b89d2.c16de6"
            ]
        ]
    },
    {
        "id": "e47e38e9.642fa8",
        "type": "function",
        "z": "776a234b.b478cc",
        "name": "Set light value",
        "func": "context.global.lightSensorOutput = msg.payload.payload.channels[1].value;\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 640,
        "y": 300,
        "wires": [
            [
                "cedd7dce.deeff"
            ]
        ]
    },
    {
        "id": "31c235a7.e23cfa",
        "type": "json",
        "z": "776a234b.b478cc",
        "name": "",
        "x": 270,
        "y": 300,
        "wires": [
            [
                "a5171295.e1dfe"
            ]
        ]
    },
    {
        "id": "a5171295.e1dfe",
        "type": "switch",
        "z": "776a234b.b478cc",
        "name": "Filter keepalives",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "keepalive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 440,
        "y": 300,
        "wires": [
            [
                "e47e38e9.642fa8"
            ]
        ]
    },
    {
        "id": "3c6b89d2.c16de6",
        "type": "debug",
        "z": "776a234b.b478cc",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 270,
        "y": 340,
        "wires": []
    },
    {
        "id": "c28d95ae.cdfab8",
        "type": "comment",
        "z": "776a234b.b478cc",
        "name": "sakura.ioから照度センサの値を取得",
        "info": "",
        "x": 180,
        "y": 260,
        "wires": []
    },
    {
        "id": "8d6099f7.4cf328",
        "type": "http request",
        "z": "776a234b.b478cc",
        "name": "get direction",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 350,
        "y": 460,
        "wires": [
            [
                "d82bda4a.646488"
            ]
        ]
    },
    {
        "id": "cedd7dce.deeff",
        "type": "function",
        "z": "776a234b.b478cc",
        "name": "set url",
        "func": "var newMsg = {\n  url: context.global.ekispertWebServiceEndpoint + \"/v1/json/station/timetable?key=\" + context.global.ekispertWebServiceKey + \"&stationCode=\" + context.global.stationCode\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 460,
        "wires": [
            [
                "8d6099f7.4cf328"
            ]
        ]
    },
    {
        "id": "efb03123.b585c",
        "type": "http request",
        "z": "776a234b.b478cc",
        "name": "get timetable",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 670,
        "y": 460,
        "wires": [
            [
                "f1fb941a.fbf488"
            ]
        ]
    },
    {
        "id": "d82bda4a.646488",
        "type": "function",
        "z": "776a234b.b478cc",
        "name": "set url",
        "func": "var newMsg = {\n  url: \"http://api.ekispert.jp/v1/json/station/timetable?key=wC4SR9ETBhBcJ3Bv&stationCode=\" + context.global.stationCode + \"&code=1\",\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 460,
        "wires": [
            [
                "efb03123.b585c"
            ]
        ]
    },
    {
        "id": "f1fb941a.fbf488",
        "type": "function",
        "z": "776a234b.b478cc",
        "name": "format message",
        "func": "console.log(JSON.stringify(msg.payload.ResultSet));\nvar hourTable = msg.payload.ResultSet.TimeTable.HourTable;\nvar times = [];\nvar displayTimes = [];\nvar stationName = msg.payload.ResultSet.TimeTable.Station.Name;\nvar lineName = msg.payload.ResultSet.TimeTable.Line.Name;\nvar direction = msg.payload.ResultSet.TimeTable.Line.Direction;\nvar minuteAfter = 20;\n\n// 現在時刻の取得\nvar now = new Date();\n\n// 現在時刻から○分後の時刻を取得\nvar timeAfter = new Date();\ntimeAfter.setMinutes(timeAfter.getMinutes() + minuteAfter);\n\n// 時刻表をtimes変数に格納\nfor(var i = 0; i < hourTable.length; i++ ) {\n  for(var j = 0; j < hourTable[i].MinuteTable.length; j++) {\n    times.push(new Date(now.getFullYear(), now.getMonth(), now.getDate(), hourTable[i].Hour, hourTable[i].MinuteTable[j].Minute));\n  }\n}\n\n// 現在時刻から○分以内の時刻のみ抽出\nfor(var i = 0; i < times.length; i++) {\n  if(now < times[i] && times[i] < timeAfter) {\n    displayTimes.push(times[i]);\n  }\n}\n\nvar slackMessage = `${lineName} ${stationName}の電車を調べたよ!\\n■${direction} 方面\\n${displayTimes.join(\"\\n\")}`;\n\nvar newMsg = {\n  payload: slackMessage,\n  channelURL: context.global.WebHookURL\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 460,
        "wires": [
            [
                "64d65d91.8efd14",
                "e6e387ac.65f108"
            ]
        ]
    },
    {
        "id": "64d65d91.8efd14",
        "type": "slack",
        "z": "776a234b.b478cc",
        "name": "",
        "channelURL": "",
        "username": "",
        "emojiIcon": "",
        "channel": "",
        "x": 1030,
        "y": 460,
        "wires": []
    },
    {
        "id": "7b0e021f.e10ddc",
        "type": "comment",
        "z": "776a234b.b478cc",
        "name": "時刻表取得",
        "info": "",
        "x": 200,
        "y": 420,
        "wires": []
    },
    {
        "id": "e6e387ac.65f108",
        "type": "debug",
        "z": "776a234b.b478cc",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1050,
        "y": 500,
        "wires": []
    },
    {
        "id": "2c78bdd9.1a7fc2",
        "type": "websocket-client",
        "z": "",
        "path": "wss://api.sakura.io/ws/v1/",
        "wholemsg": "false"
    }
]