node-red/graph-and-control-and-temperature-tweet
[
    {
        "id": "440d3752.389ce8",
        "type": "tab",
        "label": "グラフ＆制御＆Twitter投稿（温度）",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ff59f27e.6277e",
        "type": "websocket in",
        "z": "440d3752.389ce8",
        "name": "sakuraio-websocket",
        "server": "",
        "client": "9a51fb2e.9278c8",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "783efce9.38fd34",
                "5949b11c.410d3"
            ]
        ]
    },
    {
        "id": "783efce9.38fd34",
        "type": "json",
        "z": "440d3752.389ce8",
        "name": "String→Objectへの変換",
        "pretty": false,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "d8b6ce7d.23c4e"
            ]
        ]
    },
    {
        "id": "d8b6ce7d.23c4e",
        "type": "switch",
        "z": "440d3752.389ce8",
        "name": "Type＝Channelsだけ通過",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "channels",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 170,
        "y": 300,
        "wires": [
            [
                "4e5acb0e.441814",
                "7912906d.cbb81"
            ]
        ]
    },
    {
        "id": "4e5acb0e.441814",
        "type": "function",
        "z": "440d3752.389ce8",
        "name": "Channel0(temp) parse",
        "func": "msg.payload = Math.round(msg.payload.payload.channels[0].value*10)/10;return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 200,
        "wires": [
            [
                "f6167ce6.b29b",
                "e44444cc.289e88",
                "36f159a2.0a1136",
                "1bcb1311.8f160d"
            ]
        ]
    },
    {
        "id": "e44444cc.289e88",
        "type": "ui_chart",
        "z": "440d3752.389ce8",
        "name": "温度推移",
        "group": "99821e48.aa3c4",
        "order": 0,
        "width": "8",
        "height": "5",
        "label": "温度 (30分)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 680,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f6167ce6.b29b",
        "type": "ui_gauge",
        "z": "440d3752.389ce8",
        "name": "温度",
        "group": "99821e48.aa3c4",
        "order": 0,
        "width": "8",
        "height": "5",
        "gtype": "gage",
        "title": "現在の温度",
        "label": "℃",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "32",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "36f159a2.0a1136",
        "type": "debug",
        "z": "440d3752.389ce8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 690,
        "y": 200,
        "wires": []
    },
    {
        "id": "7912906d.cbb81",
        "type": "function",
        "z": "440d3752.389ce8",
        "name": "Channel1(humi) parse",
        "func": "msg.payload = Math.round(msg.payload.payload.channels[1].value*10)/10;return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 400,
        "wires": [
            [
                "d13b368.3958bc8",
                "617f0cb8.1aa2c4",
                "91a0c92.1329d38"
            ]
        ]
    },
    {
        "id": "584038b.8af69c8",
        "type": "debug",
        "z": "440d3752.389ce8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1050,
        "y": 340,
        "wires": []
    },
    {
        "id": "aed03af1.f27c28",
        "type": "function",
        "z": "440d3752.389ce8",
        "name": "メッセージ化",
        "func": "msg.payload = 'さくらインターネットのハンズオンで温度情報を取得中！ただ今の現地温度は'+msg.payload+'度だよ。LPWAを使用したゲートウェイ方式も鋭意提供準備中です！今後ともよろしくお願いします！ #sakuraio #さくらインターネット';return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 340,
        "wires": [
            [
                "877bf24a.889d7",
                "584038b.8af69c8"
            ]
        ]
    },
    {
        "id": "1bcb1311.8f160d",
        "type": "trigger",
        "z": "440d3752.389ce8",
        "op1": "1",
        "op2": "0",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "units": "min",
        "reset": "",
        "name": "",
        "x": 690,
        "y": 340,
        "wires": [
            [
                "aed03af1.f27c28"
            ]
        ]
    },
    {
        "id": "877bf24a.889d7",
        "type": "twitter out",
        "z": "440d3752.389ce8",
        "twitter": "",
        "name": "Tweet",
        "x": 1030,
        "y": 380,
        "wires": []
    },
    {
        "id": "d13b368.3958bc8",
        "type": "debug",
        "z": "440d3752.389ce8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "617f0cb8.1aa2c4",
        "type": "ui_gauge",
        "z": "440d3752.389ce8",
        "name": "湿度",
        "group": "1a4fc3b6.886b7c",
        "order": 0,
        "width": "8",
        "height": "5",
        "gtype": "gage",
        "title": "現在の湿度",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 670,
        "y": 440,
        "wires": []
    },
    {
        "id": "91a0c92.1329d38",
        "type": "ui_chart",
        "z": "440d3752.389ce8",
        "name": "湿度推移",
        "group": "1a4fc3b6.886b7c",
        "order": 0,
        "width": "8",
        "height": "5",
        "label": "湿度 (30分)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 680,
        "y": 480,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2251088.14fc5f8",
        "type": "comment",
        "z": "440d3752.389ce8",
        "name": "グラフ＆制御＆Twitter投稿（温度）サンプル",
        "info": "本フローはsakura.ioハンズオンで利用する、Arduino Unoと温湿度センサ（HDC1000 or SHT31）を用いたグラフ表示とTwitter連携を試すものです。\n\nsakura.ioのWebSocket`wss://api.sakura.io/ws/v1/.....`サービスから送信されたJSONデータから温度（Channel0）を取り出し、指定したTwittter IDを用いてTwitterにメッセージを投稿します。\n\nまたグラフ表示は`http://<IPアドレス>:<指定したWeb UIポート番号>/ui/`で確認することができます。\n\nハンズオンでの内容に加えて、本サンプルではボタンによる制御信号の送信を追加しています。\n\n> [sakura.io コントロールパネル](https://secure.sakura.ad.jp/iot/)\n\n> [利用Arduinoスケッチ](https://github.com/sakuraio/handson-sample/blob/master/arduino/SHT31-with-LEDincome.ino)\n\n> [参考ハンズオン資料](https://www.slideshare.net/sakura_pr/sakuraio-handson)",
        "x": 190,
        "y": 40,
        "wires": []
    },
    {
        "id": "b0dff516.f41d98",
        "type": "ui_button",
        "z": "440d3752.389ce8",
        "name": "LED-RED-on",
        "group": "59d89c7.8408964",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "RED on",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "{\"module\":\"%%moduleID%%\",\"type\":\"channels\",\"payload\":{\"channels\":[{\"channel\":0,\"type\":\"I\",\"value\":1}]}}",
        "payloadType": "json",
        "topic": "",
        "x": 310,
        "y": 580,
        "wires": [
            [
                "7502f625.f5bdf8",
                "43892302.a6c03c"
            ]
        ]
    },
    {
        "id": "5949b11c.410d3",
        "type": "debug",
        "z": "440d3752.389ce8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 190,
        "y": 158.8888750076294,
        "wires": []
    },
    {
        "id": "7502f625.f5bdf8",
        "type": "websocket out",
        "z": "440d3752.389ce8",
        "name": "sakuraio-websocket",
        "server": "",
        "client": "9a51fb2e.9278c8",
        "x": 600,
        "y": 580,
        "wires": []
    },
    {
        "id": "43892302.a6c03c",
        "type": "debug",
        "z": "440d3752.389ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 570,
        "y": 640,
        "wires": []
    },
    {
        "id": "fc09fda0.d6703",
        "type": "ui_button",
        "z": "440d3752.389ce8",
        "name": "LED-GREEN-on",
        "group": "59d89c7.8408964",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "GREEN on",
        "color": "",
        "bgcolor": "limegreen",
        "icon": "",
        "payload": "{\"module\":\"%%moduleID%%\",\"type\":\"channels\",\"payload\":{\"channels\":[{\"channel\":1,\"type\":\"I\",\"value\":1}]}}",
        "payloadType": "json",
        "topic": "",
        "x": 320,
        "y": 620,
        "wires": [
            [
                "7502f625.f5bdf8",
                "43892302.a6c03c"
            ]
        ]
    },
    {
        "id": "8e47bdf0.1f398",
        "type": "ui_button",
        "z": "440d3752.389ce8",
        "name": "LED-BLUE-on",
        "group": "59d89c7.8408964",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "BLUE on",
        "color": "",
        "bgcolor": "blue",
        "icon": "",
        "payload": "{\"module\":\"%%moduleID%%\",\"type\":\"channels\",\"payload\":{\"channels\":[{\"channel\":2,\"type\":\"I\",\"value\":1}]}}",
        "payloadType": "json",
        "topic": "",
        "x": 320,
        "y": 660,
        "wires": [
            [
                "7502f625.f5bdf8",
                "43892302.a6c03c"
            ]
        ]
    },
    {
        "id": "f3d383f3.d7bd1",
        "type": "ui_button",
        "z": "440d3752.389ce8",
        "name": "LED-RED-off",
        "group": "59d89c7.8408964",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "RED off",
        "color": "",
        "bgcolor": "tan",
        "icon": "",
        "payload": "{\"module\":\"%%moduleID%%\",\"type\":\"channels\",\"payload\":{\"channels\":[{\"channel\":0,\"type\":\"I\",\"value\":0}]}}",
        "payloadType": "json",
        "topic": "",
        "x": 310,
        "y": 700,
        "wires": [
            [
                "7502f625.f5bdf8",
                "43892302.a6c03c"
            ]
        ]
    },
    {
        "id": "b7b66282.2f077",
        "type": "ui_button",
        "z": "440d3752.389ce8",
        "name": "LED-GREEN-off",
        "group": "59d89c7.8408964",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "GREEN off",
        "color": "",
        "bgcolor": "darkseagreen",
        "icon": "",
        "payload": "{\"module\":\"%%moduleID%%\",\"type\":\"channels\",\"payload\":{\"channels\":[{\"channel\":1,\"type\":\"I\",\"value\":0}]}}",
        "payloadType": "json",
        "topic": "",
        "x": 320,
        "y": 740,
        "wires": [
            [
                "7502f625.f5bdf8",
                "43892302.a6c03c"
            ]
        ]
    },
    {
        "id": "362eabe2.2348c4",
        "type": "ui_button",
        "z": "440d3752.389ce8",
        "name": "LED-BLUE-off",
        "group": "59d89c7.8408964",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "BLUE off",
        "color": "",
        "bgcolor": "lightskyblue",
        "icon": "",
        "payload": "{\"module\":\"%%moduleID%%\",\"type\":\"channels\",\"payload\":{\"channels\":[{\"channel\":2,\"type\":\"I\",\"value\":0}]}}",
        "payloadType": "json",
        "topic": "",
        "x": 320,
        "y": 780,
        "wires": [
            [
                "7502f625.f5bdf8",
                "43892302.a6c03c"
            ]
        ]
    },
    {
        "id": "fc266df5.c08bf",
        "type": "ui_button",
        "z": "440d3752.389ce8",
        "name": "LED-ALL-on",
        "group": "59d89c7.8408964",
        "order": 0,
        "width": "4",
        "height": "2",
        "passthru": true,
        "label": "ALL on",
        "color": "",
        "bgcolor": "gold",
        "icon": "",
        "payload": "{\"module\":\"%%moduleID%%\",\"type\":\"channels\",\"payload\":{\"channels\":[{\"channel\":0,\"type\":\"I\",\"value\":1},{\"channel\":1,\"type\":\"I\",\"value\":1},{\"channel\":2,\"type\":\"I\",\"value\":1}]}}",
        "payloadType": "json",
        "topic": "",
        "x": 310,
        "y": 820,
        "wires": [
            [
                "7502f625.f5bdf8",
                "43892302.a6c03c"
            ]
        ]
    },
    {
        "id": "d8c19e1a.eb285",
        "type": "ui_button",
        "z": "440d3752.389ce8",
        "name": "LED-ALL-off",
        "group": "59d89c7.8408964",
        "order": 0,
        "width": "4",
        "height": "2",
        "passthru": true,
        "label": "ALL off",
        "color": "",
        "bgcolor": "gray",
        "icon": "",
        "payload": "{\"module\":\"%%moduleID%%\",\"type\":\"channels\",\"payload\":{\"channels\":[{\"channel\":0,\"type\":\"I\",\"value\":0},{\"channel\":1,\"type\":\"I\",\"value\":0},{\"channel\":2,\"type\":\"I\",\"value\":0}]}}",
        "payloadType": "json",
        "topic": "",
        "x": 310,
        "y": 860,
        "wires": [
            [
                "7502f625.f5bdf8",
                "43892302.a6c03c"
            ]
        ]
    },
    {
        "id": "5ce420e6.ffafb",
        "type": "comment",
        "z": "440d3752.389ce8",
        "name": "デバイスの制御サンプル　※LTEのみ",
        "info": "",
        "x": 170,
        "y": 540,
        "wires": []
    },
    {
        "id": "cdab1f07.ecd1e",
        "type": "inject",
        "z": "440d3752.389ce8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 580,
        "wires": [
            [
                "b0dff516.f41d98"
            ]
        ]
    },
    {
        "id": "5524cf97.b438c",
        "type": "inject",
        "z": "440d3752.389ce8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 620,
        "wires": [
            [
                "fc09fda0.d6703"
            ]
        ]
    },
    {
        "id": "449952dd.1e726c",
        "type": "inject",
        "z": "440d3752.389ce8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 660,
        "wires": [
            [
                "8e47bdf0.1f398"
            ]
        ]
    },
    {
        "id": "1dd590ac.1451ef",
        "type": "inject",
        "z": "440d3752.389ce8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 700,
        "wires": [
            [
                "f3d383f3.d7bd1"
            ]
        ]
    },
    {
        "id": "a31f2c12.b3c15",
        "type": "inject",
        "z": "440d3752.389ce8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 740,
        "wires": [
            [
                "b7b66282.2f077"
            ]
        ]
    },
    {
        "id": "c2903c09.27ff6",
        "type": "inject",
        "z": "440d3752.389ce8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 780,
        "wires": [
            [
                "362eabe2.2348c4"
            ]
        ]
    },
    {
        "id": "fe6a2f4b.bd44a",
        "type": "inject",
        "z": "440d3752.389ce8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 820,
        "wires": [
            [
                "fc266df5.c08bf"
            ]
        ]
    },
    {
        "id": "df4c9a9.6e3d668",
        "type": "inject",
        "z": "440d3752.389ce8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 860,
        "wires": [
            [
                "d8c19e1a.eb285"
            ]
        ]
    },
    {
        "id": "9a51fb2e.9278c8",
        "type": "websocket-client",
        "z": "",
        "path": "wss://api.sakura.io/ws/v1/",
        "wholemsg": "false"
    },
    {
        "id": "99821e48.aa3c4",
        "type": "ui_group",
        "z": "",
        "name": "温度",
        "tab": "d6e13bb9.625478",
        "order": 1,
        "disp": true,
        "width": "8"
    },
    {
        "id": "1a4fc3b6.886b7c",
        "type": "ui_group",
        "z": "",
        "name": "湿度",
        "tab": "d6e13bb9.625478",
        "order": 2,
        "disp": true,
        "width": "8"
    },
    {
        "id": "59d89c7.8408964",
        "type": "ui_group",
        "z": "",
        "name": "Control",
        "tab": "d6e13bb9.625478",
        "disp": true,
        "width": "4"
    },
    {
        "id": "d6e13bb9.625478",
        "type": "ui_tab",
        "z": "",
        "name": "Handson",
        "icon": "dashboard",
        "order": 1
    }
]