node-red/twitter-temperature
[
    {
        "id": "e0390545.978d68",
        "type": "tab",
        "label": "Twitter投稿（温度）"
    },
    {
        "id": "d575205c.3ee65",
        "type": "comment",
        "z": "e0390545.978d68",
        "name": "Twitter投稿サンプル（温度）",
        "info": "本フローはsakura.ioハンズオンで利用する、Arduino Unoと温湿度センサ（HDC1000 or SHT31）を用いたTwitter連携を試すものです。\n\nsakura.ioのWebSocket`wss://api.sakura.io/ws/v1/.....`サービスから送信されたJSONデータから温度（Channel0）を取り出し、指定したTwittter IDを用いてTwitterにメッセージを投稿します。\n\n> [sakura.io コントロールパネル](https://secure.sakura.ad.jp/iot/)\n\n> [利用Arduinoスケッチ1](https://github.com/sakuraio/SakuraIOArduino/blob/master/examples/HDC1000/HDC1000.ino)\n\n> [利用Arduinoスケッチ2](https://github.com/sakuraio/handson-sample/blob/master/arduino/HDC1000-with-LEDincome.ino)\n\n> [参考ハンズオン資料](https://www.slideshare.net/sakura_pr/sakuraio-handson)",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "65423d27.7c8984",
        "type": "websocket in",
        "z": "e0390545.978d68",
        "name": "sakura.io WebSocket",
        "server": "",
        "client": "",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "c62ace92.f8798"
            ]
        ]
    },
    {
        "id": "9ab1560b.572e78",
        "type": "trigger",
        "z": "e0390545.978d68",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "units": "min",
        "reset": "",
        "name": "10分に1回のみ動作",
        "x": 210,
        "y": 320,
        "wires": [
            [
                "dd35919.c5fb67"
            ]
        ]
    },
    {
        "id": "d9e77c65.faa9",
        "type": "twitter out",
        "z": "e0390545.978d68",
        "twitter": "",
        "name": "Tweet",
        "x": 610,
        "y": 360,
        "wires": []
    },
    {
        "id": "dd35919.c5fb67",
        "type": "function",
        "z": "e0390545.978d68",
        "name": "メッセージ化",
        "func": "msg.payload = '【テスト】さくらインターネットのハンズオンで照度情報を取得中！ただ今現地の照度は'+msg.payload+'だよ、すごく明るいね！正式サービス版もよろしくね！ #駅すぱあとWebサービス #ヴァル研究所 #sakuraio #さくらインターネット';return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 320,
        "wires": [
            [
                "b7844cf8.a8545",
                "d9e77c65.faa9"
            ]
        ]
    },
    {
        "id": "b7844cf8.a8545",
        "type": "debug",
        "z": "e0390545.978d68",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "f1e4988a.38f378",
        "type": "function",
        "z": "e0390545.978d68",
        "name": "小数第一位に四捨五入",
        "func": "msg.payload = Math.round(msg.payload.value*10)/10;return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 260,
        "wires": [
            [
                "ebb8685e.2588a8",
                "9ab1560b.572e78"
            ]
        ]
    },
    {
        "id": "ebb8685e.2588a8",
        "type": "debug",
        "z": "e0390545.978d68",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "c62ace92.f8798",
        "type": "json",
        "z": "e0390545.978d68",
        "name": "StringからObjectへの変換",
        "x": 390,
        "y": 80,
        "wires": [
            [
                "af77bc4e.f2006"
            ]
        ]
    },
    {
        "id": "af77bc4e.f2006",
        "type": "switch",
        "z": "e0390545.978d68",
        "name": "Type == Channelsの判定",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "channels",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "c7c14e50.d311c",
                "9f54abc3.c63748"
            ]
        ]
    },
    {
        "id": "c7c14e50.d311c",
        "type": "function",
        "z": "e0390545.978d68",
        "name": "ch0のJSONデータをパース",
        "func": "var msg = {payload: msg.payload.payload.channels[0].value};return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "f1e4988a.38f378",
                "8c49dce4.ad7"
            ]
        ]
    },
    {
        "id": "8c49dce4.ad7",
        "type": "debug",
        "z": "e0390545.978d68",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "9f54abc3.c63748",
        "type": "debug",
        "z": "e0390545.978d68",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 630,
        "y": 140,
        "wires": []
    }
]